In [76]:
import pandas as pd
import numpy as np

In [77]:
df=pd.read_csv('healthcare-dataset-stroke-data.csv')

In [78]:
print(df.head())

      id  gender   age  hypertension  heart_disease ever_married  \
0   9046    Male  67.0             0              1          Yes
1  51676  Female  61.0             0              0          Yes
2  31112    Male  80.0             0              1          Yes
3  60182  Female  49.0             0              0          Yes
4   1665  Female  79.0             1              0          Yes

       work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0        Private          Urban             228.69  36.6  formerly smoked
1  Self-employed          Rural             202.21   NaN     never smoked
2        Private          Rural             105.92  32.5     never smoked
3        Private          Urban             171.23  34.4           smokes
4  Self-employed          Rural             174.12  24.0     never smoked

   stroke
0       1
1       1
2       1
3       1
4       1

In [79]:
print(df.shape)

(5110, 12)

In [80]:
print(df.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [81]:
df=df.rename({'ever_married':'marital_status'}, axis=1)

In [82]:
print(df.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease',
       'marital_status', 'work_type', 'Residence_type', 'avg_glucose_level',
       'bmi', 'smoking_status', 'stroke'],
      dtype='object')

In [83]:
df.columns=map(str.lower,df.columns)

In [84]:
print(df.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease',
       'marital_status', 'work_type', 'residence_type', 'avg_glucose_level',
       'bmi', 'smoking_status', 'stroke'],
      dtype='object')

In [85]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   marital_status     5110 non-null   object
 6   work_type          5110 non-null   object
 7   residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

In [86]:
df=df.drop_duplicates()

In [87]:
print(df.shape)

(5110, 12)

In [88]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
marital_status         0
work_type              0
residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [89]:
cat_feature=[df.gender, df.marital_status, df.work_type, df.residence_type, df.smoking_status]
for cat in cat_feature:
    print( x.unique())

['formerly smoked' 'never smoked' 'smokes' 'Unknown']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']

In [90]:
df.work_type.value_counts()

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

In [91]:
print(df.age[(df.stroke==1)&(df.work_type== 'children')])

162     1.32
245    14.00
Name: age, dtype: float64

In [92]:
print(df.age.min())

0.08

In [93]:

df['work_type'] = df['work_type'].astype(str).str.lower()
df['gender'] = df['gender'].astype(str).str.lower()
df['martial_status'] = df['marital_status'].astype(str).str.lower()
df['residence_type'] = df['residence_type'].astype(str).str.lower()
df['smoking_status'] = df['smoking_status'].astype(str).str.lower()

In [94]:
print(df.work_type.unique())
print(df.gender.unique())
print(df.marital_status.unique())
print(df.residence_type.unique())
print(df.smoking_status.unique())

['private' 'self-employed' 'govt_job' 'children' 'never_worked']
['male' 'female' 'other']
['Yes' 'No']
['urban' 'rural']
['formerly smoked' 'never smoked' 'smokes' 'unknown']

In [95]:
df['work_type'] = df['work_type'].replace('self-employed', 'self_employed')
df['smoking_status'] = df['smoking_status'].replace('formerly smoked', 'formerly_smoked')
df['smoking_status'] = df['smoking_status'].replace('never smoked', 'never_smoked')

In [96]:
print(df.work_type.unique())
print(df.gender.unique())
print(df.marital_status.unique())
print(df.residence_type.unique())
print(df.smoking_status.unique())

['private' 'self_employed' 'govt_job' 'children' 'never_worked']
['male' 'female' 'other']
['Yes' 'No']
['urban' 'rural']
['formerly_smoked' 'never_smoked' 'smokes' 'unknown']

In [97]:
df.dropna(inplace=True)

In [98]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4909 entries, 0 to 5109
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   marital_status     4909 non-null   object
 6   work_type          4909 non-null   object
 7   residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     4909 non-null   object
 11  stroke             4909 non-null   int64
 12  martial_status     4909 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 536.9+ KB
None

In [99]:
df.smoking_status.value_counts()

smoking_status
never_smoked       1852
unknown            1483
formerly_smoked     837
smokes              737
Name: count, dtype: int64

In [100]:
df['smoking_status']=df['smoking_status'].replace(['unknown'], np.nan)

In [101]:
print(df.smoking_status.unique())

['formerly_smoked' 'never_smoked' 'smokes' nan]

In [102]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4909 entries, 0 to 5109
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   marital_status     4909 non-null   object
 6   work_type          4909 non-null   object
 7   residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     3426 non-null   object
 11  stroke             4909 non-null   int64
 12  martial_status     4909 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 536.9+ KB
None